Zone bj-1:
server:
    port: 8000/8001/8002
eureka:
    instance:
        meta-map:
            zone: bj1
    client:
        region: beijing
        register-with-eureka: false
        fetch-registry: false
        service-url:
            defaultZone:  http://localhost:8000/eureka,http://localhost:8001/eureka,http://localhost:8003/eureka\
                                    http://localhost:8004/eureka,http://localhost:8005/eureka,http://localhost:8006/eureka

Zone bj-2:
server:
    port: 8003/804/8005
eureka:
    instance:
        meta-map:
            zone: bj2
    client:
        region: beijing
        register-with-eureka: false
        fetch-registry: false
        service-url:
            defaultZone: http://localhost:8000/eureka,http://localhost:8001/eureka,http://localhost:8003/eureka\
                                    http://localhost:8004/eureka,http://localhost:8005/eureka,http://localhost:8006/eureka


Zuul bj-1
eureka:
    instance:
        metadata-map:
            zone: bj1
    client:
        region: jeijing
        service-url:
            defaultZone: http://localhost:8000/eureka,http://localhost:8001/eureka,http://localhost:8003/eureka\
                                    http://localhost:8004/eureka,http://localhost:8005/eureka,http://localhost:8006/eureka


Zuul bj-2
eureka:
    instance:
        metadata-map:
            zone: bj1
    client:
        region: jeijing
        service-url:
            defaultZone: http://localhost:8000/eureka,http://localhost:8001/eureka,http://localhost:8003/eureka\
                                    http://localhost:8004/eureka,http://localhost:8005/eureka,http://localhost:8006/eureka


Service-bj1
eureka:
    instance:
        metadata-map:
            zone: bj1
    client:
        region: jeijing
        service-url:
            defaultZone: http://localhost:8000/eureka,http://localhost:8001/eureka,http://localhost:8003/eureka\
                                    http://localhost:8004/eureka,http://localhost:8005/eureka,http://localhost:8006/eureka


Service-bj2
eureka:
    instance:
        metadata-map:
            zone: bj1
    client:
        region: jeijing
        service-url:
            defaultZone: http://localhost:8000/eureka,http://localhost:8001/eureka,http://localhost:8003/eureka\
                                    http://localhost:8004/eureka,http://localhost:8005/eureka,http://localhost:8006/eureka